{% extends  'base.html' %}
{% block content %}
<section class="login first grey">
    <div class="container">
        <div class="box-wrapper">				
            <div class="box box-border">
                <div class="box-body">
                    <h4>Login</h4>
                    <form action="" method="POST">
                        {% csrf_token %}

                        {% for form in forms %}
                        <div class="form-group">
                            <label for="'{{ form.id_for_label }}">{{ form.label }}</label>
                            {{ form }}
                        </div>
                        {% endfor %}
                        {% if error %}
                        {{ error }}
                        {% endif %}
                        <a href=## class="pull-right">비밀번호 찾기</a>
                        <div class="form-group text-right">
                            <button type="submit" name="login_summit" value="login" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div class="title-line">
                            or
                        </div>
          <a href="#" class="btn btn-social btn-block facebook"><i class="ion-social-facebook"></i> Login with Facebook</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}